
/* margin are the distance between element border and surrounding element */
/* padding is the space between the border and content. */
/* flex, inline-block, display: inline-block (to particular element) or flex(given to header part or parent who is holding the divs)  */
/* fr unit fractional lenght represnts flexible 1fr=100% of page, 2fr=50%,3fr=33.3% 4fr=25% */
/* vh = view port area */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e6e8ed;
    color: #666666;
    font-family: "Montserrat",sans-serif;
}

.material-icons-outlined{
    vertical-align: middle;
    line-height: 1px;
}

.text-primary{
    color: #666666;
}
.text-blue{
    color: #246dec;
}
.text-red{
    color: #cc3c43;
}
.text-green{
    color: #367952;
}
.text-orange{
    color: #f5b74f;
}
.font-weight-bold{
    font-weight: 600;
}

.grid-container{
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr ;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 
    "sidebar header header header"
    "sidebar main main main" ;
    height: 100vh; 
}



/*-----------------------Header---------------------*/

.header{
    grid-area: header;
    height: 70px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -4px rgba(0,0,0,0.2);
}
.menu-icon{
    display: none;
}

/*--------------------------sidebar--------------------*/
#sidebar{
    grid-area: sidebar;
    height: 100%;
    background-color: #21232d;
    color: #9799ab;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.sidebar-title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 20px 20px;
    margin-bottom: 30px;
}

.sidebar-title > span {
    display: none;
}

.sidebar-brand{
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
}
.sidebar-list{
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
    width:100%;
}
.sidebar-list-item{
    padding: 20px 20px 20px 20px;
    display: flex;
    align-items: center;
    width:100%;
    gap: 18px;
    border-radius:10px;
    transition:0.3s;
}
.sidebar-list-item:hover {
    background:#403e4d;
    cursor: pointer;
    transform:translateX(5px);
}

.sidebar-responsive{
    display: inline !important;
    position: absolute;
}

/*-----------------------------main----------------------------*/

.main-container{
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
}

.main-title{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.main-title > p{
    font-size: 20px;
}
.main-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px  0; 
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    background-color: #ffffff;
    box-sizing: border-box;
    border: 1px solid #d2d2d3;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0,0,0,0.2);
}
.card:first-child{
    border-left: 7px solid #246dec;
}
.card:nth-child(2){
    border-left: 7px solid #f5b74f;
}
.card:nth-child(3){
    border-left: 7px solid #367952;
}
.card:nth-child(4){
    border-left: 7px solid #cc3c43;
}
.card > span{
    font-size: 20px;
    font-weight: 600;
}
.card-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-inner > p{
    font-size: 18px;
}
.card-inner > span{
    font-size: 35px;
}

/* ------------------------------table part ---------------------------- */
.table-content{
    width: 100%;
    margin-top: 20px;
    background:white;
    border-radius:10px;
    padding:20px;
    box-shadow:0 2px 5px rgba(0,0,0,.15);
}
table{
    width: 100%;
    border-collapse:collapse;
}
th,td{
    padding:15px;
    text-align:left;
}
tbody tr:hover{
    background: #f9f9f9;
    border-bottom: 1px solid #ddd;
}
thead{
    background:#f5f5f5;
}
<!---------------------------formsbody------------------------------------->
#main #heading{
    margin: auto;
    padding: 15px;
    border: 2px solid black;
    background-color: rgb(208, 205, 205);
}
.form-body1{
width: 500px;
height: 450px;
margin-left: 530px;
margin-top: 37px;
border: 1px solid black;
border-radius: 5px;
    
}
.form-body2{
width: 500px;
height: 630px;
margin-left: 530px;
margin-top: 37px;
border: 1px solid black;
border-radius: 5px;
    
}

.form-body1 div{
    padding: 10px;
}
.form-body2 div{
    padding: 10px;
}
.form-body1 h2{
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px;
}
.form-body2 h2{
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px;
}
/* end-formsbody */
/* 
body{
    margin: 0;
    font-family: arial,sans-serif;
}
.navbar{
    height: 60px;
    background:#fff;
    border-bottom: 2px solid black;
}
.container{
    display: flex;
}
.sidebar{
    width: 200px;
    min-height:100vh;
    border-right: 2px solid black;
    padding: 10px;
}
.main-content{
    flex: 1;
    padding: 20px;
}
.sidebar{
    display: flex;
    flex-direction: column;
}
.sidebar a{
    padding: 20px;
    text-decoration: none;
    color: black;

    
}
.sidebar a:hover{
    background:#f2f2f2;
    border:1px solid #a5a1a1;

    border-radius:10px;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}
.card{
    flex:1;

    border:1px solid #a5a1a1;

    border-radius:10px;

    padding:20px;

    background:white;
} */
/* flex 1 says give equal share */
/* .table{
    width: 100%;
    border-collapse:collapse;  
}
/* border collapse - two border dissolves into one */
/* th, td{ */
    /* padding:12px;
    border-bottom:1px solid #ddd; */
    /* text-align:left;} */