{% extends "base.html" %}

{% block title %}
Add/Edit Treks
{% endblock %}


{% block head_css %}
<style>
  .form-add-treks {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    position: relative;
    padding-bottom: 90px;

  }

  .left,
  .right {
    flex: 1;
  }

  .form-add-treks .left,
  .form-add-treks .right {
    height: 700px;
    width: 50%;

  }


  .left .l {
    margin: 20px;
    padding: 10px;
    margin-bottom: 22px;
  }

  .right .r {
    margin: 20px;
    padding: 10px;
    margin-bottom: 22px;
  }

  .r {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .r label {
    width: 150px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
      'Helvetica Neue', sans-serif;
  }

  .l {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .l label {
    width: 150px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
      'Helvetica Neue', sans-serif;
  }



  .l input,
  .l select,
  .r input,
  .r select,
  .r textarea {
    flex: 1;
    box-sizing: border-box;
  }

  textarea {
    resize: vertical;
    min-height: 120px;
  }

  .buttons {
    position: absolute;

    bottom: 20px;
    right: 25px;

    display: flex;

    gap: 15px;
  }
</style>
{% endblock %}

{% block header_title %}
{% if trek %}
Edit Trek
{% else %}
Add New Trek
{% endif %}

{% endblock %}

{% block content %}

<form
  action="{% if trek %} {{ url_for('update_trek',trek_id=trek.id) }} {% else %} {{ url_for('add_trek') }}{% endif %}"
  class="form-add-treks card " method="POST" enctype="multipart/form-data">
  <div class="left">
    <div class="l">
      <label for="name">Trek Name</label>
      <input type="text" id="name" name="tname" value="{{ trek.name if trek else '' }}" required>
    </div>
    <div class="l">
      <label for="loc">Location</label>
      <input type="text" name="loc" id="loc" value="{{ trek.location if trek else '' }}" required>
    </div>
    <div class="l">
      <label for="level">Difficulty</label>
      <select name="values" id="level" required>
        <option value="">--Select Level--</option>
        <option value="easy" {% if trek and trek.difficulty=='easy' %} selected {% endif %}>Easy</option>
        <option value="moderate" {% if trek and trek.difficulty=='moderate' %} selected {% endif %}>Moderate</option>
        <option value="hard" {% if trek and trek.difficulty=="hard" %} selected {% endif %}>Hard</option>
      </select>
    </div>
    <div class="l">
      <label for="duration">Duration(Days)</label>
      <input type="number" id="duration" name="duration" value="{{ trek.duration_days if trek else '' }}" required>
    </div>
    <div class="l">
      <label for="slots">Maximum Slots</label>
      <input type="number" name="max_slots" id="slots" value="{{ trek.max_slots if trek else '' }}" required>
    </div>
    <div class="l" style="display: flex;">
      <!-- type=file means choose file and  enctype="multipart/form-data as other values are text but img are binary , accept="image/*" jpg,png-->
      <input type="text" name="trek_name" placeholder="trek name">
      <input type="file" name="trek_image" accept="image/*">
    </div>
  </div>
  <div class="right">
    <div class="r">
      <label for="date">Start Date</label>
      <input type="date" name="starttime" id="date" placeholder="dd/mm/yyyy"
        value="{{ trek.start_date.strftime('%Y-%m-%d') if trek and trek.start_date else '' }}" required>
    </div>
    <div class="r">
      <label for="endtime">End Date</label>
      <input type="date" name="endtime" id="endtime" placeholder="dd/mm/yyyy"
        value="{{ trek.end_date.strftime('%Y-%m-%d') if trek and trek.end_date else '' }}">
    </div>
    <div class="r">
      <label for="assign_staff">Assign Staff</label>
      <select name="staff_ids" id="assign_staff" multiple size="2" style="height: 120px; width: 100%;">
        {% for staff in staffs %}
        <option value="{{staff.id}}" {% if trek and staff in trek.assigned_staffs %} selected {% endif %}>
          {{staff.user.username}} ({{ staff.expertise }})</option>
        {% endfor %}
      </select>
    </div>
    <div class="r">
      <label for="status">Status</label>
      <select name="status" id="status">
        <option value="open" {% if trek and trek.status=="open" %} selected {% endif %}>Open</option>
        <option value="closed" {% if trek and trek.status=="closed" %} selected {% endif %}>Closed</option>
      </select>
    </div>
    <div class="r">
      <label for="prog">Trek Progress</label>
      <select name="trek_progress" id="prog">
        <option value="upcoming" {% if trek and trek.trek_progress=="upcoming" %} selected {% endif %}>upcoming</option>
        <option value="started" {% if trek and trek.trek_progress=="started" %} selected {% endif %}>started</option>
        <option value="completed" {% if trek and trek.trek_progress=="completed" %} selected {% endif %}>completed
        </option>
      </select>
    </div>
    <div class="r">
      <label for="message">Description</label>
      <textarea id="message" name="message" rows="4">{{ trek.description if trek else '' }}</textarea>
    </div>
  </div>
  <div class="buttons">
    <a href="/admin/treks" class="btn btn-danger">Cancel</a>
    <button type="submit" class="btn btn-success">{% if trek %} Update Trek {% else %} Save Trek {% endif %}</button>
  </div>
</form>

{% endblock %}