{% extends "base.html" %}

    {% block title %}
        Admin Dashboard
    {% endblock %}


    {% block content %}
        <!--main-->
        <main class="main-container">
            <div class="main-title">
                <p class="font-weight-bold">DASHBOARD</p>
            </div>
            <div class="main-cards">

                <div class="card">
                    <div class="class-inner">
                        <p class="text-primary">Total Treks</p>
                        <span class="material-icons-outlined text-blue ">landscape</span>
                    </div>
                    <span class="text-primary font-weight-bold">24</span>
                </div>

                <div class="card">
                    <div class="class-inner">
                        <p class="text-primary">Total Users</p>
                        <span class="material-icons-outlined text-orange">person</span>
                    </div>
                    <span class="text-primary font-weight-bold">24</span>
                </div>

                <div class="card">
                    <div class="class-inner">
                        <p class="text-primary">Total Staff</p>
                        <span class="material-icons-outlined text-green">groups</span>
                    </div>
                    <span class="text-primary font-weight-bold">24</span>
                </div>

                <div class="card">
                    <div class="class-inner">
                        <p class="text-primary">Total Bookings</p>
                        <span class="material-icons-outlined text-red">event_available</span>
                    </div>
                    <span class="text-primary font-weight-bold">24</span>
                </div>

            </div>

            <main-bottom class="table">
            <div class="table-content">
                <table class="table table-dark table-hover">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody class="table-hover">
                        <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        </tr>
                        <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        </tr>
                        <tr>
                        <th scope="row">3</th>
                        <td>John</td>
                        <td>Doe</td>
                        <td>@social</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </main-bottom>
        </main>
        <!--end main-->
    {% endblock %}