{% extends "base.html" %}

{% block title %}
Admin Dashboard
{% endblock %}

{% block head_css %}
<style>
    a {
        text-decoration: none;
        color: #9799ab;

    }

    .text-most-important {
        color: #363434;
        font-weight: bolder;
    }
</style>
{% endblock %}

{% block header_title %}
Admin Dashboard
{% endblock %}



{% block content %}
<!--main-->
<div class="main-cards">
    <div class="card">
        <div class="class-inner">
            <p class="text-most-important">Total Treks</p>
            <span class="material-icons-outlined text-blue ">landscape</span>
        </div>
        <span class="text-most-important font-weight-bold">{{treks_count}}</span>
    </div>

    <div class="card">
        <div class="class-inner">
            <p class="text-most-important">Total Users</p>
            <span class="material-icons-outlined text-orange">person</span>
        </div>
        <span class="text-most-important font-weight-bold">{{user_count}}</span>
    </div>

    <div class="card">
        <div class="class-inner">
            <p class="text-most-important">Total Staff</p>
            <span class="material-icons-outlined text-green">groups</span>
        </div>
        <span class="text-most-important font-weight-bold">{{staff_count}}</span>
    </div>

    <div class="card">
        <div class="class-inner">
            <p class="text-most-important">Total Bookings</p>
            <span class="material-icons-outlined text-red">event_available</span>
        </div>
        <span class="text-most-important font-weight-bold">{{bookings_count}}</span>
    </div>

</div>
<section class="table-section">
    <div class="table-content">
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th scope="col">Booking ID</th>
                    <th scope="col">User</th>
                    <th scope="col">Trek</th>
                    <th scope="col">Booking Date</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody class="table-hover">
                {%for booking in recent_bookings%}
                <tr>
                    <th scope="row">{{booking.id}}</th>
                    <td>{{booking.user.username}}</td>
                    <td>{{booking.trek}}</td>
                    <td>{{booking.booking_date}}</td>
                    <td>{{booking.booking_status}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="button" style="display:flex; justify-content: flex-end;">
        <a href="/admin/bookings" style="margin-top:10px; text-decoration: none;">
            <button type="button" class="btn btn-info">View All Bookings </button>
        </a>
    </div>
</section>
<!--end main-->
{% endblock %}