{% extends "staff_base.html" %}

{% block title %}
Manage Trek
{% endblock %}

{% block header_title %}
{{ trek.name }}
{% endblock %}

{% block content %}
<div class="card p-4 mb-4">

    <h3>{{ trek.name }}</h3>

    <hr>

    <p><strong>Location :</strong> {{ trek.location }}</p>

    <p><strong>Difficulty :</strong> {{ trek.difficulty.title() }}</p>

    <p><strong>Duration :</strong> {{ trek.duration_days }} Days</p>

    <p>
        <strong>Dates :</strong>

        {{ trek.start_date.strftime("%d %b %Y") }}

        -

        {{ trek.end_date.strftime("%d %b %Y") }}
    </p>

    <p><strong>Participants :</strong> {{ total_participants }}</p>


    <p><strong>Total Slots :</strong> {{ trek.max_slots }}</p>

    <form action="{{ url_for('update_trek_details',trek_id=trek.id,staff_id=staff.id) }}" method="post">
        <label class="form-label" for="inp1">Available Slots</label>
        <input type="number" name="available_slots" id="inp1" value="{{ trek.available_slots }}" min="0"
            max="{{ trek.max_slots }}" class="form-control">

        <label class="form-label" for="inp2">Status</label>
        <select name="status" id="inp2" class="form-select">
            <option value="open" {% if trek.status=="open" %}selected{% endif %}>Open</option>
            <option value="closed" {% if trek.status=="closed" %}selected{% endif %}>Closed</option>
        </select>
        <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
    </form>

</div>

{% if bookings %}

<table class="table table-dark table-hover">

    <thead>

        <tr>

            <th>ID</th>

            <th>User</th>

            <th>Email</th>

            <th>Participants</th>

            <th>Booking Date</th>

            <th>Booking Status</th>


        </tr>

    </thead>

    <tbody>

        {% for booking in bookings %}

        <tr>

            <td>{{ booking.id }}</td>

            <td>{{ booking.user.username }}</td>

            <td>{{ booking.user.email }}</td>

            <td>{{ booking.num_participants }}</td>

            <td>{{ booking.booking_date.strftime("%d-%m-%Y") }}</td>

            <td>{{ booking.booking_status.title() }}</td>


        </tr>

        {% endfor %}

    </tbody>

</table>
<div class="two-buttons" style="margin: 20px; display: flex; gap: 20px;">
    {% if trek.trek_progress == "upcoming" %}
    <a href="{{ url_for('start_trek',staff_id=staff.id,trek_id=trek.id)}}" class="btn btn-outline-primary btn-lg">Mark as Started</a>
    {% elif trek.trek_progress == "started" %}
    <a href="{{ url_for('complete_trek',staff_id=staff.id,trek_id=trek.id)}}" class="btn btn-outline-success btn-lg">Mark as Completed</a>
    {% else %}
    <span class="badge bg-success">
        Trek Completed
    </span>
    {% endif %}
</div>

{% else %}

<div class="alert alert-info">

    No bookings yet.

</div>

{% endif %}
{% endblock %}