{% extends "staff_base.html" %}

{% block title %}
Staff - Manage Trek
{% endblock %}

{% block header_title %}
My treks
{% endblock %}

{% block content %}
<div class="main-bottom">
  <section class="table-section">
    <div class="table-content">
      <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th scope="col">Trek Name</th>
            <th scope="col">Location</th>
            <th scope="col">Participants</th>
            <th scope="col">Slots</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          {% for trek in treks %}
          <tr>
            <th scope="row">{{trek.name}}</th>
            <td>{{ trek.location}}</td>
            <td>{{ trek.bookings | length }}</td>
            <td>{{ trek.max_slots }}</td>
            <td>{{trek.status}}</td>
            <td>
              <a href="{{ url_for('manage_trek', staff_id=staff.id,trek_id=trek.id) }}" class="btn btn-outline-primary">Manage</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
</div>
{% endblock %}