<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff details</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <style>
        #main #heading {
            margin: auto;
            padding: 15px;
            border: 2px solid black;
            background-color: rgb(208, 205, 205);
        }
        .content >p {
            font-weight: bold;
            font-size: large;
        }
    </style>
</head>

<body>
    <div id="main">
        <div id="heading">
            <h2>Trekking Management Application</h2>
        </div>
        <div class="content" style="margin: 20px;">
            <p>✔ Profile submitted successfully.</p><br>
            <p>Your application is under review.</p><br>
            <p>Please wait until an administrator approves your account.</p><br>
            <p>You'll be able to access the Staff Dashboard after approval.</p>
        </div>
    </div>
</body>

</html>