<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Staff Application</h2>
    <h4>Unfortunately, your application to become
        a Trek Staff member was not approved.
    </h4>
    <br>
    <h4>Status: {{status}}</h4>
    <h4>Reason: you are not found to be eligible for being a trek staff.</h4>
    <br>
    <h4>Please contact the administrator if you
        believe this is a mistake.</h4>

</body>

</html>