{% extends "trekker_base.html" %}

{% block title %}
User(Trekker) Dashboard
{% endblock %}

{% block header_title %}
<h2>Welcome, {{ user.username }}!</h2>
{% endblock %}

{% block head_css %}
<style>
    .filter-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;
        margin-bottom: 25px;
    }

    .filter-section select {
        width: 250px;
        gap: 20px;
    }
</style>
{% endblock %}

{% block content %}
<div class="filter-section">
    <h3>Available Treks</h3>
    <form method="GET" style="display: flex; gap: 10px;">
        <select name="difficulty" class="form-select">
            <option value="">All Difficulties</option>
            <option value="easy" {% if selected_difficulty=="easy" %} selected {% endif %}>Easy</option>
            <option value="moderate" {% if selected_difficulty=="moderate" %} selected {% endif %}>Moderate</option>
            <option value="hard" {% if selected_difficulty=="hard" %} selected {% endif %}>Hard</option>
        </select>
        <select name="location" class="form-select">
            <option value="">All Locations</option>
            {% for location in locations %}
            <option value="{{ location[0] }}" {% if selected_location==location[0] %}selected{% endif %}>
                {{location[0]}}
            </option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">
            Filter
        </button>
    </form>

</div>
<section class="table-section">
    <div class="table-content">
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th scope="col">Trek Name</th>
                    <th scope="col">Location</th>
                    <th scope="col">Difficulty</th>
                    <th scope="col">Days</th>
                    <th scope="col">Available Slots</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody class="table-hover">
                {% for trek in treks %}
                <tr>
                    <th scope="row">{{ trek.name }}</th>
                    <td>{{ trek.location }}</td>
                    <td>{{ trek.difficulty }}</td>
                    <td>{{ trek.duration_days }}</td>
                    <td>{{ trek.available_slots }}</td>
                    <td>{{ trek.status }}</td>
                    <td>
                        <a href="{{ url_for('trek_details',user_id=user.id, trek_id=trek.id) }}"
                            class="btn btn-primary btn-sm">
                            Book Now
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
<div class="mybookings">
    <h3>My Bookings</h3>
</div>
<section class="table-section">
    <div class="table-content">
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th scope="col">Trek Name</th>
                    <th scope="col">Booking Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody class="table-hover">
                {% for booking in bookings %}
                <tr>
                    <td>{{ booking.trek.name }}</td>
                    <td>{{ booking.booking_date.strftime("%d %b %Y") }}</td>
                    <td>{{ booking.booking_status.title() }}</td>
                    <td>
                        <a href="{{ url_for('booking_details',user_id=user.id,booking_id=booking.id) }}"
                            class="btn btn-outline-primary btn-sm">
                            View Details
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}